<div class="jukebox-layout">
  <router-outlet></router-outlet>
  <div id="neon-side-left" class="light-off"></div>

  <div id="jukebox-body">
    <input type="checkbox" id="home-button" style="outline: none;"> 
    <header>
      <h1 id="neon-title" class="light-off">T<span>he</span> Juke<span>B</span>ox</h1>
      <hr class="light-off">
      <hr class="light-off">
    </header>
  
    <section id="body-content" class="light-off">
      <form id="select-menu">
        <div class="light-off">
          <label for="Most Listened">Most Listened</label>
          <input type="radio" id="most_listened" name="music_selection" value="most_listened" title="Your most listened tracks">
        </div>
        <div class="light-off">
          <label for="Playlist Mix">Playlist Mix</label>
          <input type="radio" id="playlist_mix" name="music_selection" value="playlist_mix" title="A song mix from your most recent 20 playlists">
        </div>
        <div class="light-off">
          <label for="One Artist">One Artist</label>
          <input type="radio" id="artist" name="music_selection" value="artist" title="A mix from a random artist you follow">
        </div>
        <div class="light-off">
          <label for="Surprise Me">Surprise Me</label>
          <input type="radio" id="surprise" name="music_selection" value="surprise" title="Randomly selects one of the other three options">
        </div>
      </form>
    </section>

    <section id="music-player">
      <div class="speaker light-off not-playing">
        <div></div><div></div>
      </div>
        <div id="playing-song-info" class="light-off">
          <div id="playing-song-image"><div></div></div>
          <p><b>California Dreamin'</b></p>
          <p>The Mamas & The Papas</p>
          <p><i>If You Can Believe Your Eyes & Ears (1966)</i></p>
        </div>
        <div id="next-song-info" class="not-showing light-off">
          <img src="https://m.media-amazon.com/images/I/61YeJkzhAYL._SL1200_.jpg">
          <p><b>California Dreamin'</b></p>
        </div>
        <div class="speaker light-off not-playing">
          <div></div><div></div>
        </div>

        <div id="queue-left-arrow" class="queue-arrow light-off"><span><</span></div>
        <div id="songs-queue" class="not-moving light-off"></div>
        <div id="queue-right-arrow" class="queue-arrow light-off"><span>></span></div>
    </section>
  </div>

  <div id="neon-side-right" class="light-off"></div>
</div>

<footer>
  <hr class="light-off">
  <p id="neon-footer" class="light-off">Thanks for visiting us<span>!</span></p>
</footer>
