@import url(//fonts.googleapis.com/css?family=Vibur);

/* Jukebox layout*/
  /*Display flex, in order to put vertical neon lights at sides. Body will be the element in the middle*/
  div.jukebox-layout{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: fit-content;
  }

/* Neon lights at left and right side*/
 
  /*General rule*/
  div#neon-side-left, div#neon-side-right{
    display: block;
    overflow: auto;
    width: 1%;
    margin: 0px 1% 0px 1%;
    border-radius: 5px;
  }

  /*When neon light is on*/
  div#neon-side-left.light-on, div#neon-side-right.light-on{
    transition: all ease-in 1s;
    background-color:rgb(255, 238, 254);
    box-shadow:
    0 0 2px, 
    0 0 15em #b500b5, 
    0 0 10em #b500b5, 
    0 0 5em #b500b5, 
    0 10px 3px #000;
  }

/* Jukebox Body*/
  /*Dimensions for the jukebox body, which is the central element of the flex, and where all the angular objects will appear*/
  div#jukebox-body{
      height: 100%;
      width: 90%;
      margin: 0px 2% 0px 2%;
  }

/*Header*/
  /*Go back home button / Turn On,Off button*/
  #home-button{
    float:right;
    background-color: antiquewhite;
    padding: 1%;
  }

  /*Header's general rules*/
  header{
      font-family: "Vibur";
      text-align: center;
      font-size: 3rem;
      margin: 10%;
  }

  /*Title general rule*/
  h1{
    width: 50%;
    padding: 0% 25% 0% 25%;
    margin: 0px;
  }

  /*When neon light is on*/
  h1.light-on{
    transition: all ease-in 1s;
    color:rgb(238, 255, 254);
    text-shadow:
    0 -40px 100px, 
    0 0 2px, 
    0 0 1em #00ADB5, 
    0 0 0.5em #00ADB5, 
    0 0 0.1em #00ADB5, 
    0 10px 3px #000;
  }

  /* Blinking Effect on title*/
  h1.light-on span {
      animation: 5s infinite linear blink;
  }

  h1.light-on span:nth-of-type(2){
      animation: 8s infinite linear blink;
  }

  /* Neon bar under the title - HR dimensions*/
  header > hr{
      margin-top: 0px;
      height: 4px;
      border-radius: 10px;
  }

  header hr:first-of-type{
      width: 40%;
  }

  header hr:last-child{
      width: 35%;
  }


/*Footer*/
  /*General rule*/
  footer{
      font-family: "Vibur";
      text-align: center;
      font-size: 2rem;
      padding: 5%;
  }

  /*When neon light is on*/
  p#neon-footer.light-on{
    width: 50%;
    padding: 0% 25% 0% 25%  ;
    color:rgb(238, 255, 254);
    text-shadow:
    0 -40px 100px, 
    0 0 2px, 
    0 0 1em #00ADB5, 
    0 0 0.5em #00ADB5, 
    0 0 0.1em #00ADB5, 
    0 10px 3px #000;
    margin: 0px;
  }

  /* Blinking Effect on title*/
  p#neon-footer.light-on span{
    animation: blink linear infinite 5s;
  }

  /*neon bar over the footer - HR dimensions*/
  footer > hr{
    width:30%;
    margin-top: 0px;
    margin-bottom: 2%;
    height: 5px;
    border-radius: 10px;
  }

/*HR*/
  /*When lights are on*/
  hr.light-on{
    transition: all ease-in 1s;
    background-color:rgb(255, 225, 253);
    box-shadow:
    0 -40px 100px, 
    0 0 2px, 
    0 0 15em #b500b5, 
    0 0 10em #b500b5, 
    0 0 5em #b500b5, 
    0 10px 3px #000;
  }

/*When the lights are OFF*/
.light-off{
  color:#333;
}

/* Animations */
  /*Neon blink animation*/
  @keyframes blink {
    85% {
      color: inherit;
      text-shadow: inherit;
    }
    86%{
      color: #333;
    }
    87% {
      
      text-shadow: none;
    }
    88% {
      color: inherit;
      text-shadow: inherit;
    }
    89% {
      color: #333;
      text-shadow: none;
    }
    90% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

/*OTHERS*/

#body-content{
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 5% 10% 5% 10%;
  margin: 50px 0px 50px 0px;
  font-size: 1rem;
}