#login-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-flex > div:nth-of-type(1) {flex-grow: 4;}
#login-flex > div:nth-of-type(2) {flex-grow: 4;}

h2 > i{
    color: #7743DB;
}

button{
    width: 100%;
    padding: 20px 10px 20px 10px;
    background: #1DB954 url(../../img/Spotify_Logo_RGB_White.png) no-repeat;
    background-position: 50%;
    background-size: contain;
    border-radius: 10px;
    border : solid 1px #1DB954;
    box-shadow: 0 0 1px 1px #1DB954, 0 0 0 0 #1DB954;
    transition: all 150ms ease-in-out;
}

button:hover,
button:focus {
  box-shadow: 0 0 1px 0 #3B3486, 0 0 1px 4px #3B3486 ;
}

@media (max-width: 800px) {
    #login-flex {
      flex-direction: column;
    }
    #login-flex > div{
        width: 100%;
        margin-bottom: 10px;
    }
  }